body {
    background-color: lightblue;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: lightblue;

}

li {
    float: left;
}

li a {
    display: block;
    text-decoration: none;
    color: rgb(228, 228, 241);
    text-align: center;
    padding: 20px 90px;
    font-size: 20px;
}

li a:hover {
    background-color:rgb(248, 245, 240);
}

h1 {
    color: white;
    font-size: 100px;
}

.planet {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 500px;
    clip-path: circle();
}

.container {
    position: relative;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: lightskyblue;
    clip-path: circle();
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 500px;
    width: 500px;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }